section{
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}
button{
    width: 120px;
    height: 75px;
    margin: 10px;
    font: 2rem sans-serif;
}
p,label,input{
    font: 1.2rem sans-serif;
    margin: 10px;
}
input{
    width: 100px;
}
p{
    font: 2rem sans-serif;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 650px;
}
.snake {
    background-color: red;
}
.food {
    background-color: green;
}
.control{
    flex-direction: row;
}
.grid {
    display: grid;
    grid-gap: 3px;
}