.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
}
section{
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}
button{
    width: 120px;
    height: 75px;
    margin: 10px;
    font: 2rem sans-serif;
}
p {
    font: 2em sans-serif;
}
.snake {
    background-color: red;
}
.food {
    background-color: green;
}
.control{
    flex-direction: row;
}
.grid {
    display: grid;
    grid-template-columns: repeat(19,20px);
    grid-template-rows: repeat(19, 20px);
}